body{
    width:485px;
    font-size:13px;
    line-height:20px;  
}
h1, h2{
    color: orange;
}
h1{
    text-align: right;
}
.text1::first-letter{
    color:red;
    font-size: 25px;
}
p{
    line-height:12px; 
    position: relative; left: 2px; top:2px;
}
p::first-line{
    line-height:25px;
}
h2:last-of-type{
    color: blue;
}
.text2::first-letter{
    color:red;
    font-size: 25px;
}
mark{
    font-style: italic;
    color: white;
    background-color: green;
}
.name{
    font-weight:900;
    line-height:13px;
}
.list1{
    color: grey;
}
ol:nth-child(4){
    color:red;
}
.list3{
    color: green
}
ol{
    line-height:12.5px;
    font-size: 13.5px;
    position: relative; left: -10px;
}
li{
    position: relative; left: -4px;
}
table{
    position: relative; left: 4px; top:1px;
}
table,tr,th,td{
    border: 1px solid black;
    width:320px;  
    line-height:12px;
}
td{
    color:white;
    background-color: green;
}
td:first-child{
    color:orange;
    background-color: white;
}
td:not(:first-child){
    text-align:center;
}
