
body {
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: center 20em; 

}
.container {
    border:none;
    transform-style: preserve-3d;
    animation: container 10s infinite linear;
}
span{
    font-size:120px;
    padding-left:30%; 
}


.plate{
    width: 14em;
    height: 14em;
    background-color: rgb(255,0,158);
    transform: translateY(12em) translateX(-2em);
}  

@keyframes  container {
    100% {
      transform: rotateY(-360deg);
      
    }
}
.side {
    position: absolute;
    width: 10em;
    height: 10em;
    border: 1px solid lightskyblue;
    opacity: .5; 
} 
.front {
    transform: translateZ(5em);
    background: linear-gradient(to top left, blue, 10%, lightblue);       
}
    
.back {
    transform: translateZ(-5em) rotateY(180deg);
    background: linear-gradient(to top left, blue, 10%, lightblue);
}
.left {
    transform: translateX(-5em) rotateY(90deg) rotateY(180deg);
    background: linear-gradient(to top left, blue, 10%, lightblue);
}
.right {
    transform: translateX(5em) rotateY(90deg);
    background: linear-gradient(to top left, blue, 10%, lightblue);
}
.top {
    transform: translateY(-5em) rotateX(90deg);
    background: linear-gradient(to top left, blue, 10%, lightblue);   
}
      
.bottom {
    transform: translateY(5em) rotateX(90deg);
    background: linear-gradient(to top left, blue, 10%, lightblue);
}  


.container2 {
    border:none;
    transform-style: preserve-3d;
}
.text{
    font-size:180px;
    padding-left: 35%; 
    line-height:290px;   
}
  
.side2 {
    position: absolute;
    width: 18em;
    height: 18em;
    border: 1px solid lightskyblue;
    opacity: .3; 
} 
.front2 {
    transform: translateZ(9em) translateY(-4em) translateX(-4em);
    background: linear-gradient(to top left, blue, 20%, lightblue);
}
      
.back2 {
    transform: translateZ(-9em) translateY(-4em) translateX(-4em) rotateY(180deg);
    background: linear-gradient(to top left, blue, 20%, lightblue);
}
.left2 {
    transform: translateX(-13em) translateY(-4em) rotateY(90deg) rotateY(180deg);
    background: linear-gradient(to top left, blue, 20%, lightblue);
}
.right2 {
    transform: translateX(5em) translateY(-4em) rotateY(90deg);
    background: linear-gradient(to top left, blue, 20%, lightblue);
}
.top2 {
    transform: translateY(-13em) translateX(-4em) rotateX(90deg);
    background: linear-gradient(to top left, blue, 20%, lightblue);
}
        
.bottom2 {
    transform: translateY(5em) translateX(-4em) rotateX(90deg);
    background: linear-gradient(to top left, blue, 20%, lightblue);
} 
